html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* hide scrollbars */
    background-color: #000000;
}

canvas {
    display: block;
}

@font-face {
    font-family: 'MonoMEK';
    src: url('MEK-Mono.otf');
}
